extends layout

block content
  h1= title
  - let items = results

  .container-fluid
    .row
      each attr, index in items
        .col-sm-2(onclick=`buy(${index})`)
          p Name: #{attr.Apartment_name}
          p Location: #{attr.location}
          p Rent: #{attr.rent}

  script.
    function buy(index) {
      alert('You purchased item ' + (index+1));
    }
