extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let apartmentid = toShow._id
        - let Apartment_name = toShow.Apartment_name
        - let location = toShow.location
        - let rent = toShow.rent
        - let actionid = "/resource/apartments/" + apartmentid

        script.
            let actionid = "#{actionid}"

        div
            div.row
                div(class='apartmentAttr mr-3') Apartment ID is:
                div #{apartmentid}
            div.row
                div(class='apartmentAttr mr-3') Apartment Name is:
                div #{Apartment_name}
            div.row
                div(class='apartmentAttr mr-3') Apartment location is:
                div #{location}
            div.row
                div(class='apartmentAttr mr-3') Apartment rent is:
                div #{rent}
            button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
            button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

        script.
            function cancel() {
                // Go back to the home page for the apartment collection
                window.location.href='/apartments'
            }

        script.
            function deleteOnid() {
                console.log("starting delete")
                // delete first
                fetch(actionid, {
                    method: 'DELETE'
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Delete succeeded")
                    window.location.href='/apartments'
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Delete failed " + error)
                });
            }