extends layout

block content
    h1= title
    - let apartmentid = toShow._id
    - let Apartment_name = toShow.Apartment_name
    - let location = toShow.location
    - let rent = toShow.rent

    div.apartment-details
        div.row
            div(class='apartmentAttr-label mr-3') Apartment ID:
            div.apartmentAttr-value #{apartmentid}
        div.row
            div(class='apartmentAttr-label mr-3') Apartment Name:
            div.apartmentAttr-value #{Apartment_name}
        div.row
            div(class='apartmentAttr-label mr-3') Apartment Location:
            div.apartmentAttr-value #{location}
        div.row
            div(class='apartmentAttr-label mr-3') Apartment Rent:
            div.apartmentAttr-value #{rent}
style.
    .apartment-details {
        max-width: 400px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .apartmentAttr-label {
        font-weight: bold;
        background-color: palevioletred;

    }

    .apartmentAttr-value {
        background-color: aquamarine;

    }

    .row {
        margin-bottom: 10px;
    }